# Don't use quotes( " and ' )

API_ID=
API_HASH=
SESSION=


# [OPTIONAL]

REDIS_URI=redis://default:gQAAAAAAAc5tAAIgcDI2ZTY2ZjEzN2ZkM2Y0NzliYTVhOTU2MDQ4NjA1OWY2Yw@resolved-hedgehog-118381.upstash.io:6379

REDIS_PASSWORD=gQAAAAAAAc5tAAIgcDI2ZTY2ZjEzN2ZkM2Y0NzliYTVhOTU2MDQ4NjA1OWY2Yw

LOG_CHANNEL=
BOT_TOKEN=
